.alert {
  background-color: #fff2c9;
  border-color: #c9a767;
  color: #927d6a;
  margin-bottom: 0px;
}
.alert-info {
  padding: 8px 15px;
}
.osteo-nav h4 {
  margin-top: 0px;
}
.osteo-nav.affix {
  top: 65px;
}
#monCarousel .item {
  max-height: 400px;
}
#monCarousel .img {
  height: auto;
  width: 100%;
}
.osteo-carousel {
  margin-bottom: 20px;
}
.my-footer {
  background-image: url("../images/triangle.png"), linear-gradient(to top, #f4d7bd, #fff2c9);
  background-position: 0 0, 0 35px;
  background-repeat: repeat-x, no-repeat;
  background-color: #fff2c9;
  padding: 50px 0 35px 0;
}
.page-header-footer {
  border-bottom: 1px dotted #999999;
  padding-bottom: 6px;
}
.lolo {
  padding-bottom: 0px;
}
.lolo a:focus,
a:hover {
  border-bottom: 1px solid #999999;
  text-decoration: none;
}
.my-footer a {
  color: #555555;
}
#btn_up {
  position: fixed;
  bottom: 15px;
  right: 25px;
  cursor: pointer;
  display: none;
}
.osteo-nav {
  background-color: #ffffff;
  margin-bottom: 0px;
}
.navbar-default {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #f5d5a7;
}
.navbar-default .navbar-nav > li > a {
  color: #927d6a;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #c9a767;
}
.navbar-default .navbar-brand {
  color: #927d6a;
}
.navbar-default .navbar-brand:hover {
  color: #c9a767;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #ffffff;
  color: #927d6a;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #f5d5a7;
}
.page-header {
  margin: 0px;
}
.osteo-lighter {
  border-bottom: 1px solid #eeeeee;
  padding-top: 50px;
  margin-top: -50px;
  padding-bottom: 25px;
}
.osteo-lighter a {
  color: #c9a767;
}
.btn-osteo {
  background-color: #fff2c9;
  color: #927d6a;
  border-color: #c9a767;
}
.form-control {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
}
.form-control:focus {
  border-color: #fff2c9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,242,201,.9);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,242,201,.9);
}
.osteo-lighter-last {
  padding: 25px 0;
  border-bottom: none;
}
.osteo-bold {
  font-weight: 700;
  color: #c9a767;
}
.contact {
  border-left: 1px solid #eeeeee;
}
.pres .img-thumbnail {
  background-color: #c9a767;
}
.pres p {
  color: #555555;
}
.sub_head {
  background-color: #f4d7bd;
  background-image: url("../images/Spine2.jpg"), url("../images/bande.jpg");
  background-position: -200px 0, 1090px 0;
  background-repeat: no-repeat, repeat-x;
  padding: 70px 0px 30px 0px;
  margin-bottom: 20px;
}
.drop-shadow-header {
  -webkit-box-shadow: 0px 1px 6px 0 #555555;
  box-shadow: 0px 1px 6px 0 #999999;
}
@media screen and (max-width: 1366px) {
  /* Specific to this particular image */
  .sub_head {
    background-position: -360px 0, 950px 0;
  }
}
@media screen and (max-width: 1280px) {
  /* Specific to this particular image */
  .sub_head {
    background-position: -400px 0, 910px 0;
  }
}
.sub_head h1 {
  font-size: 44px;
  color: #927d6a;
  margin-top: 0px;
}
.sub_head p {
  font-size: 18px;
  color: #999087;
  margin-bottom: 0px;
}
.osteo-consult {
  margin-top: 25px;
  min-height: 400px;
}
.lettrine {
  margin-right: 15px;
  margin-bottom: 0px;
}
.plan {
  margin-left: 15px;
}
